<script type="text/javascript">
  (function($) {
    var currentTime = new Date();
      if ( currentTime.getHours() < 12 )
        {
          salutation = "Good&nbsp;Morning";
        }
      else
        if ( currentTime.getHours() >= 12 && currentTime.getHours() <= 17 )
          {
            salutation = "Good&nbsp;Afternoon";
          }
        else
          if ( currentTime.getHours() > 17 && currentTime.getHours() <= 24 )
            {
              salutation = "Good&nbsp;Evening";
            }
        else
          {
            salutation = "Hello!";
          }
    $(".greeting").append(salutation);
  }(jQuery));
</script>
