@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Roboto", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;
$gutter:           15px !default;

$text-color:       #565656 !default;
$background-color: #ffffff !default;
$brand-color:      #5C7140 !default;
$brand-color-dark: #33451C !default;

$grey-color:       #787878 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$white-color: #ffffff !default;

// Width of the content area
$content-width:    1080px !default;

$on-palm:          600px !default;
$on-laptop:        1024px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "v1/base",
  "v1/layout",
  "v1/syntax-highlighting"
;

// Import Tachyons.
@import
  "scss/normalize",
  "scss/colors",
  "scss/media-queries",
  "scss/debug-children",
  "scss/debug-grid",
  "scss/box-sizing",
  "scss/aspect-ratios",
  "scss/images",
  "scss/background-size",
  "scss/background-position",
  "scss/outlines",
  "scss/borders",
  "scss/border-colors",
  "scss/border-radius",
  "scss/border-style",
  "scss/border-widths",
  "scss/box-shadow",
  "scss/code",
  "scss/coordinates",
  "scss/clears",
  "scss/display",
  "scss/flexbox",
  "scss/floats",
  "scss/font-family",
  "scss/font-style",
  "scss/font-weight",
  "scss/forms",
  "scss/heights",
  "scss/letter-spacing",
  "scss/line-height",
  "scss/links",
  "scss/lists",
  "scss/max-widths",
  "scss/widths",
  "scss/overflow",
  "scss/position",
  "scss/opacity",
  "scss/rotations",
  "scss/skins",
  "scss/skins-pseudo",
  "scss/spacing",
  "scss/negative-margins",
  "scss/tables",
  "scss/text-decoration",
  "scss/text-align",
  "scss/text-transform",
  "scss/type-scale",
  "scss/typography",
  "scss/utilities",
  "scss/visibility",
  "scss/white-space",
  "scss/vertical-align",
  "scss/hovers",
  "scss/z-index",
  "scss/nested",
  "scss/styles"
;
