---
layout: default
---

<article class="w-100 center">

  <h1 class="f2 f1-m f-headline-l gradient m0">{{ page.title | escape }}</h1>

  <div class="fn fl-ns w-50-ns">
    <div class="measure lh-copy">
      {{ content }}
    </div>
  </div>

  <div class="fn fl-ns w-100">
    <div class="fn fl-ns w-50-ns">
      <h2 class="pt4">Experience</h2>
      <span class="db">
        <a href="https://mailchimp.com/">MailChimp</a>, partnership support & development (2012 - Present)
      </span>

      <span class="db pt1">
        <a href="https://socialdesignhouse.com/">Social Design House</a>, development intern (2011 - 2012)
      </span>

      <h2 class="pt4">Education</h2>
      <span class="db">
        <a href="https://www.winthrop.edu/">Winthrop University</a>
        <span class="db pt1">B.S. Digital Information Design (2008 - 2012)</span>
      </span>

      <h2 class="pt4">Accolades</h2>
      <span class="db">
        <a href="http://www.nesa.org/PDF/58-435.pdf">Boy Scouts of America, Eagle Scout</a> (2005)
      </span>
    </div>

    <div class="fn fl-ns w-100">
      <h2 class="pt4">Albums Of The Week</h2>

      <div class="fl-ns pr4-ns pb3 w-100 w-50-m w-25-l">
        <div class="fl-ns albumArt0"></div>
        <span class="db f3 albumName0"></span>
        <span class="f5 albumArtist0"></span>
      </div>

      <div class="fl-ns pr4-ns pb3 w-100 w-50-m w-25-l">
        <div class="fl-ns albumArt1"></div>
        <span class="db f3 albumName1"></span>
        <span class="f5 albumArtist1"></span>
      </div>

      <div class="fl-ns pr4-ns pb3 w-100 w-50-m w-25-l">
        <div class="fl-ns albumArt2"></div>
        <span class="db f3 albumName2"></span>
        <span class="f5 albumArtist2"></span>
      </div>

      <div class="fl-ns pr4-ns pb3 w-100 w-50-m w-25-l">
        <div class="fl-ns albumArt3"></div>
        <span class="db f3 albumName3"></span>
        <span class="f5 albumArtist3"></span>
      </div>

    </div>
  </div>


</article>
